* {
  margin: 0;
  padding: 0;
}

.day {
  background-color: #3f9ad9;
  transition: .4s linear;
}

.night {
  background-color: #1A1A1A;
  transition: .4s linear;
}

.body {
  font-family: 'Open Sans', sans-serif;
}

.welcome-title {
  background-color: #fff;
  border-radius: 2px;
  color: #3f9ad9;
  display: table;
  font-size: 3vw;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 1% auto;
  padding: 5px 25px;
  text-transform: uppercase;
}

.clock {
  color: #fff;
  display: table;
  font-size: 20vw;
  font-weight: 800;
  letter-spacing: 4px;
  margin: 0 auto;

  text-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
}

.data {
  color: #fff;
  display: table;
  font-size: 5vw;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 3% auto 0;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);  
}